<div id="nav-border" class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl">{{ .Site.Title }}</a>
    </div>

    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            {{ range .Site.Menus.main }}
            <li>
                <a class="nav-link" href="{{ .URL }}">
                    {{ if .Pre }}
                    {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                    {{ $icon }}
                    {{ end }}
                    {{ $text := print .Name | safeHTML }}
                    {{ $text }}
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>